*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Put a selector here to select div elements (see index.html). */
div {
  text-align: center;

  font-family: cursive;
  padding: 8px;
  width: 120px;
  background: hotpink;
  color: white;
  border-radius: 8px;

  /* Set the height and the width of the box to 150px. */

  /* Make the background color "hotpink". */

  /* Make the text color "white". */

  /* Can you give the box round edges with a radius of 8px? */

  /* ✨ Feel free to experiment! */
}
